.sectionHeaderColor{
   background:#dddbda;
}

.THIS .slds-input{
    background-color: lavender !important;
    border-color: #ffffff80 !important;
    cursor: auto !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.THIS input:disabled {
    background: red;
  }